* {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 16px;
}

.subsection {
    display: flex;
    flex-direction: column;
}

.headertex-1 {

}

.description-1 {
    
}

.section-2 {
    display: flex;
    flex-direction: column;
}

.headertext-2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer {
    display: flex;
    flex-direction: column;
}

.section-3 {
    display: flex;
    flex-direction: column;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2 {
    display: flex;
    flex-direction: column;
}


ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    max-width: 40px;
    height: auto;
}

.image.placeholder {
    max-width: 200px;
    height: auto;
}